.root {
  margin-top: 10px;
  padding: 10px;
  font-family: monospace;
  font-size: 9px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 400px;
}
@media screen and (max-width: 1000px) {
  .root {
    width: 100%;
  }
}

.header {
  align-items: center;
  justify-content: space-between;
  margin: 0 0 10px;
}

.title {
  margin: 0;
}

.close {
  display: flex;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  line-height: 1;
  color: #888;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 10px;
}

.close:hover {
  color: #666;
}

.avatar {
  height: 150px;
  display: flex;
  justify-content: center;
}

.avatarImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: contain;

}
.name {
  display: flex;
  justify-content: center;
}

.female .avatarImg {
  border: 1px solid #ffdcef;
}
.male .avatarImg {
  border: 1px solid #5ddcff;
}
.editBlock .delete {
  border-radius: 50%;
  background-color: tomato;
  border: tomato 1px solid;
  width: 30px;
  height: 30px;
  margin: 5px;
  color: white;
}
.editBlock {
  display: flex;
  justify-content: center;
}
.editBlock .editButton {
  border-radius: 50%;
  background-color: transparent;
  border: #888 1px solid;
  width: 30px;
  height: 30px;
  margin: 5px;
}
.addPersonModal {
  padding: 5px;
    background: #eee;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    max-width: 400px;
    margin: 10px;
}
.addPersonModal::before {
  content:"";
  display:inline-block;
  width:0;
  height:100%;
  vertical-align:middle;
}
.edit {
  display: flex;
}
.editButton.on {
  background-color: #666;
  color: #fff;
}
.editButton.off {
  background-color: #fff;
  color: #000;
}